.container{
    width: 1366px;
    margin: 0 auto;
}
.wraper{
    background-image:url(./Image/Фон\ 1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.heder-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heder{
    background: rgba(0, 0, 0, 0.4);
    }
.img-heder svg{fill: #FFFFFF;}
.img-heder:hover svg{fill: #3CB878;
    transition: 0.6s }
.left-text{
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    margin: 18px 0 18px 79px;
}
.left-text:hover{
    color: #3CB878;
    transition: 0.5s ease 0.5s}
.heder-right{
    display: flex;
    flex-direction:row ;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    margin: 18px 0 18px 2px;
    padding-left: 27px;
    text-decoration: none;
}
.heder-log{
    margin: 18px 0 0 27px;
}
.heder-or{
    margin-top: 18px;
}
.Log-In, .Sign-Up{
    display: flex;
    flex-direction:row ;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin: 18px 4px 18px 7px;
}
 .right-img{
    display: flex;
    flex-direction:row ;
    margin-right: 79px;
    box-sizing: border-box;
    position: relative;
}
.right-img::after{
    content: "";
    width: 2px;
    height: 24px;
    left: 143px;
    top: 15px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;}
.img-heder{
    margin-top: 17px;
    margin-right: 25px;
    width: 23px;
    height: 23px;
    }
.Sign-Up:hover{
    color: #3CB878;
    }
.Log-In:hover{
    color:#3CB878 ;
    }
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 56px);
   }
.center{
    width: 444px;;
    height: 584px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 32px 60px 38px 60px;
    box-sizing: border-box;
    position: relative;
}
.top{
    display: flex;
    justify-content: space-between;
}
.center::after{
    content: "";
    width: 18px;
    height: 18px;
    left: 0;
    top: 33px;
    background-color: #3CB878;
    position: absolute;}
.sign{
    font-weight: 400;
    font-size: 20px;
}
.log{
    display: flex;
    color:#3CB878 ;
    align-items: flex-end;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}
.log:hover{
    color: #01813F;
    text-decoration: underline #01813F;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 13px;
    gap: 4px;
}
.button{
    width: 160px;
    height: 48px;
    border-radius: 2px;
    padding-left: 13px;
    padding-right: 25px;
    box-sizing: border-box;
    position: relative;
}
.button::after{
    content: "";
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    text-decoration: none;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
}
.facebook{
    background-color:#305DB8 ;
}
.facebook:hover{
     background-color: #022263;
    transition: 0.5s ease 0.5s
}
.google{
    background-color: #DF4A32;
    transition: 0.5s ease 0.5s
}
.google:hover{
    background-color: #AB1F09;
}
.link-facebook, .link-google{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 16px;
    color: #FFFFFF;
}
.img-facebook{
    width: 12px;
    height: 24px;
}
.img-google{
    margin-top: 4px;
}
.line-texc{
    display: flex;
    }
.line{
    margin-top: 38px;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}
.or{
    margin-top: 29px;
}
.Jason{
    display: flex;
    align-items: center;
    height: 44px;
    padding-left: 18px;
    margin-top: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.Jason::before{
    background-color:greenyellow
   }
input{
    margin-top: 15px;
    height: 42px;
    color: #BEBEBE;
    border-radius: 2px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    width: 92%;
    outline: none;
}
.check__label{
    display: flex;
    margin-top: 12px;
  margin-bottom: 20px;
    }
    .check__input {
        position: absolute;
        left: -99999999px;
    }
    .check__label {
        vertical-align: middle;
    }
    .check__label::before {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.4em;
        height: 1.4em;
        padding-bottom: 0.05em;
        font-size: 0.7em;
        border: 1px solid #F2F2F2;
        vertical-align: middle;
        margin-right: 0.35em;
        text-align: center;
        position: relative;
        top: -0.2em;
    }
    .check__input:checked + .check__label::before {
        content: url('./Image/Vect.svg');

    }
    /* .leble img{
       display: none;

       background: rgba(0, 0, 0, 0.0001);
       border: 1px solid #F2F2F2;
       user-select: none;
    }
.leble input[type="checkbox"] .img-wrapper{
    display: none;
}
.leble input[type="checkbox"]:checked + img{
    display: inline-block;
}

.checkbox {
    display: flex;
    width: 15px;
    height: 15px;
    height: 100%;
     border: 2px solid #3CB878;
    margin: 0;
   } */
.text-input{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 11px;
   }
.text-terms{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    padding-left: 6px;
}
.text-terms:hover{
   text-decoration: underline #01813F;
   }
.Create-batton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);;
    border-radius: 4px;
    margin-bottom: 20px;
}
.Create-batton:hover{
  background-color: #01813F;
  transition: 0.5s ease 0.5s
}

